<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <%- include('../partials/head') %>
</head>
<body class="bg-primary-container text-on-surface font-body text-body-md min-h-screen">
  <%- body %>
</body>
</html>
